.loginsignup_img img{
    height: 406px;
    width: auto;
    border-radius: 20px;
}
.loginsignup{
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
    align-items: center;
    /* justify-content: center; */
   
    width: 46vw;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding-top: 5px;
    margin-left: 450px;
}
.loginsignup_container{
    /* width: 95vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 29px;
    /* justify-content: center; */

}

input{
    border-radius: 5px;
    border: 1px solid rgba(143, 143, 143,0.2);
    background-color: black;
    color: white;
}

.names{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.email-pass{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.email {
    width:300px;

}
.password{
    width: 300px;
}
.firstname{
    width:140px;
}
.lastname{
    width:140px;
}

p{
    color: white;
    font-size: 10px;
}

.loginsignup_container button{
    font-size: 12px;
    font-weight: 500;
    background-color: #904F04;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 138px;
    padding-right: 138px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

}

.signup{
    font-size: 18px;
    font-weight: 500;
    color: #FFD700;
}

.ask{
    width: 360px;
    
}
.ask span{
    color: #904F04;
    font-weight: 600;
    cursor: pointer;
}

@media(max-width:1024px) {
    .loginsignup{
        flex-direction: column;
        margin-top: 300px;
        margin-left: 200px;
     
        margin-bottom: 100px;
        width: 60vw;
        height: 800px;

    }
    .loginsignup_img img{
        height: 460px;
        width: 35vw;
    }

}