.container{
    width: 95vw;
    display: flex;
    justify-content: center;
}

.story{
    display: flex;
    margin-top: 400px;
    margin-bottom: 100px;
    align-items: center;
    width: 80vw;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
}


.story1 p{

font-weight: 400;
font-size: 18px;
margin:20px;




color: #FFD700;

}
.story_img img{
    height: 400px;
    width: auto;
    border-radius: 20px;

}

@media(max-width:1024px){
    .container{
        width:95vw;
    }
    .story{
        /* width: 80vw; */
        margin-top: -190px;

    }
    .story1 p{
        margin:20px;
        font-weight: 350;
        font-size: 13px;
    }
    .story_img img{
        width: auto;
        height: 399px;
    }
}